header{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.block1>img{
	width: 15%;
	margin: 1%;
}
.block1>h3{
	width: 99%;
	position: absolute;
	display: block;
	text-align: center;
}
header>div{
	width: 100%;
}
.block1{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}
.block2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10%;
	text-align: center;
}
.block2>h1{
	padding: 1%;
	border: 5px solid black;
}
.block2>h2{
	margin-top: 12%;
	margin-bottom: 15%;
}
.about{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about>h2{
	margin-top: 7%;
}
.line{
	width: 10%;
	height: 1px;
	background: black;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
.about_me{
	width: 85%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}
.about_block{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
}
.about_block>img{
	width: 15%;
}
.skils{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.skils>h2{
	margin-top: 5%;
}
.skils_me{
	width: 85%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	margin-bottom: 5%;
}
.skils_block{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
}

.c100{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.c100>img{
	z-index: 5;
	width: 45%;
}
.portfolio{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}